.App {
  font: normal 14px/1.5em "Helvetica Neue";
  background-color: #faf0e6;
  opacity: 100%;
  color: black;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 16px;
  color: #43281C;
  opacity: 50%;
  width: 100%;
}

.main-content {
  width: 100%;
}

.App-link {
  color: #61dafb;
}

/* Add a black background color to the top navigation */

.top-nav {
  position: relative;
  background-color: #c78f58;
  overflow: hidden;
  opacity: 80%;
}

.top-nav-right {
  float: right;
}

/* Style the links inside the navigation bar */

.top-nav a {
  float: left;
  color: #43281C;
  padding: 2px 14px;
  text-decoration: none;
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;
  font-weight: 600;
}

/* Change the color of links on hover */

.top-nav a:hover {
  color: black;
}

/* Add a color to the active/current link */

.top-nav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */

@media screen and (max-width: 600px) {
  .top-nav a, .right {
    float: none;
    display: block;
  }
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faded-pic {
  width: 100%;
  height: 600px;
  filter: brightness(40%);
  opacity: 70%;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 2rem;
  z-index: 10;
  cursor: pointer;
  color: grey;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 2rem;
  z-index: 10;
  cursor: pointer;
  color: grey;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}