.App {
  text-align: center;
  font: normal 14px/1.5em "Helvetica Neue";
  background-color: #faf0e6;
  opacity: 100%;
  color: black;
  font-size: calc(10px + 2vmin);
  display: flex;
  height: 100vh;
}

.App-footer {
  position: fixed;
  bottom: 0;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 16px;
  color: #43281C;
  opacity: 50%;
  width: 100%;
}

.App-header {
  position: fixed;
  top: 0;
  letter-spacing: 0.2em;
  font-size: 16px;
  background-color: #c78f58;
  color: #43281C;
  opacity: 50%;
  width: 100%;
}

.Main-content {
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.Magic-button {
  background-color: #DFF9FF;
  border: 6px dotted black;
  border-radius: 100px;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
  color: black;
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
}

.Magic-button:hover {
  -webkit-animation: borderBlink 500ms step-end infinite;
  animation: borderBlink 500ms step-end infinite;
  opacity: 1
}

@-webkit-keyframes borderBlink {
  from, to {
    border-color: black
  }
  50% {
    border-color: purple
  }
}

@keyframes borderBlink {
  from, to {
    border-color: black
  }
  50% {
    border-color: purple
  }
}