.App {
  text-align: center;
  font: normal 14px/1.5em "Helvetica Neue";
  background-color: #faf0e6;
  opacity: 100%;
  color: black;
  font-size: calc(10px + 2vmin);
  height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 16px;
  color: #43281C;
  opacity: 50%;
  width: 100%;
}

.Main-content {
  width: 100%;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.Magic-button {
  background-color: #DFF9FF;
  border: 6px dotted black;
  border-radius: 100px;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
  color: black;
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
}

.Magic-button:hover {
  -webkit-animation: borderBlink 500ms step-end infinite;
  animation: borderBlink 500ms step-end infinite;
  opacity: 1
}

@-webkit-keyframes borderBlink {
  from, to {
    border-color: black
  }
  50% {
    border-color: purple
  }
}

@keyframes borderBlink {
  from, to {
    border-color: black
  }
  50% {
    border-color: purple
  }
}

/* Add a black background color to the top navigation */

.topnav {
  position: relative;
  background-color: #c78f58;
  overflow: hidden;
  opacity: 80%;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  color: #43281C;
  text-align: center;
  padding: 2px 14px;
  text-decoration: none;
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;
  font-weight: 600;
}

/* Change the color of links on hover */

.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */

.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
}